package {{ .Name }}

import (
	"github.com/prometheus/client_golang/prometheus"
)

var (
	sampleDesc = prometheus.NewDesc(
		"{{ .Name }}_sample_metric",
		"sample metric for {{ .Name }} collector",
		[]string{"key1", "key2"}, nil)
)

// SetFlags CLI 플래그 커스터마이징 진입점입니다.
func SetFlags() {

}

type Collector struct {
}

// NewCollector Collector 인스턴스를 생성하여 반환합니다.
func NewCollector() *Collector {
	return &Collector{}
}

// Describe Prometheus가 메트릭 메타데이터를 수집할 때 호출합니다.
func (c *Collector) Describe(ch chan<- *prometheus.Desc) {
	ch <- sampleDesc
}

// Collect Prometheus가 메트릭 값을 수집할 때 호출합니다.
func (c *Collector) Collect(ch chan<- prometheus.Metric) {
	ch <- prometheus.MustNewConstMetric(sampleDesc, prometheus.GaugeValue, 1, "value1", "value2")
}
